#header {
    display: flex;
    justify-content: center;
    flex-direction: row;
    background-color: #FF8343;
    font-size: 300%;
    font-weight: bolder;
    color: white;
    align-items: center;
    text-align: center;
    padding: .5em .5em;
    border-bottom: 2px solid rgba(0, 0, 0, 0.184);
    position: relative;
  }

  #header .btnMenu {
    flex-grow: 0;
    transform: translateY(50%);
    left: 10px;
    cursor: pointer;
    margin-right: 3em;
  }

  #headerT img {
    width: 2em;
    height: 1.5em;
    margin-right: 0.3em;
  }
  
  
  
  #header #headerT {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    text-align: center;
    justify-content: center;
  }
  
  
  .loginHeader a {
    font-size: 18px;
    display: flex;
    align-items: center;
    background-color: #179BAE;
    border: 2px solid #179BAE;
    border-radius: 40px;
    padding: 3px 10px;
    height: 40px;
    cursor: pointer;
    text-decoration: none;
    color:white;
    margin-left: 10px;
    box-shadow:  1px 1px 2px rgba(0, 0, 0, 0.9);
  }
  
  .loginHeader a:hover {
    background-color: #106b7ace;
  }
  
  .loginHeader svg {
    color:white;
    margin-right: 0.3em;
  }

  
@media (max-width: 860px) {
  
  #header .headerText {
      display: none;
  }
  
 
  #logoHeader {
      font-size: 150%;
  }
}