#bgCards {
  flex-grow: 1;
  display: flex;
  background: radial-gradient(circle, #ffffff, #ebfdfdda, #eaf2f9e1);
  backdrop-filter: blur(60px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  align-items: start;
  justify-content: space-around;
}

.card {
  max-width: 375px;
  min-width: auto;
  margin: 15px 5px;
}

.MuiCard-root {
  width: 100%;
}

.css-dnrpxu-MuiCardActions-root {
  justify-content: center;
  align-items: end;
}

.css-46bh2p-MuiCardContent-root {
  padding: 16px;
  height: 100px;
}

@media screen and (max-width: 520px) {
  #bgCards {
    padding: 0em;
  }

  .card {
    min-width: auto;
    margin: 15px 5px;
    transform: translateX(-3%);
    z-index: 1;
  }
}
