#bgCards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  padding: 20px;
}

.card {
  width: 350px;
  margin: 15px;
}

.MuiCard-root {
  width: 100%;
}

.css-dnrpxu-MuiCardActions-root {
  justify-content: center;
  align-items: end;
}

.css-46bh2p-MuiCardContent-root {
  padding: 16px;
  height: 100px;
}



