.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: auto;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.modal-content h2 {
    margin-bottom: 10px;
}

.modal-content p {
    margin: 10px 0;
}

.close-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

.close-btn:hover {
    background-color: #45a049;
}
