.mainMenu {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-weight: 500;
    background: #242323;
    transform: all .2s;
    height: auto;
  }
  
  
   ul {
    padding: 0;
    text-align: center;
   }
  
   ul li {
    list-style-type: none;
    margin-bottom: 1em;
    margin-left: 0;
    
   }
  
   ul li a {
    text-decoration: none;
    color: white;
    display: block;
    border-radius: 6px;
    padding: 0.5em 1.5em;
   }
  
   ul li a:hover, li a:focus {
    background: #383838e3;
   }