.table-container {
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
  max-width: 800px;
  text-align: center;
  overflow-x: auto;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.header svg {
  margin-left: 20px;
  color: rgb(22, 218, 22);
  font-size: 2em;
}

.user-table {
  width: 100%;
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.user-table th,
.user-table td {
  padding: 12px;
  text-align: center;
  border: 1px solid #959393;
  vertical-align: middle;
}

.table-row td {
  text-align: center;
}

.user-info {
  display: flex;
  align-items: center;
}

.user-info img {
  width: 3em;
  height: 3em;
  object-fit: cover;
  border: 3px solid rgb(223, 118, 25);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  margin-right: 10px;
  font-weight: bold;
}

.user-details .user-name {
  font-weight: bold;
}

.status {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 0.875rem;
  font-weight: bold;
}

.status.active {
  background-color: #d4edda;
  color: #155724;
}

.status.inactive {
  background-color: #f8d7da;
  color: #721c24;
}

.actions svg {
margin-right: 0.5em;
margin-left: 0.5em;

}

.actions #edit {
  font-size: 1.7em;
  color: blueviolet;
}

.actions #delete {
  font-size: 1.7em;
  color: red;
}

@media (max-width: 520px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .user-info {
    flex-direction: column; 
  }

  .user-name, .user-email {
    font-size: 0.85em;
  }

  .user-table th, 
  .user-table td {
    font-size: 0.9rem; 
    padding: 8px;
  }

  th, td {
    max-width: 5.5em;
    align-items: center;
  }

  .table-container {
    max-width: 90%;
    padding: 10px;
  }
}