

#header {
  background-color: orange;
  font-size: 350%;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding: .5em 2em;
}

#body {
  display: flex;
  height: 100vh;
}

#mainMenu {
  background-color: rgb(105, 102, 97);
  color: white;
  padding: .5em 2em;
}

#content {
  background-color: rgb(152, 215, 215);
  color: rgb(43, 40, 40);
  flex-grow: 1;
  font-weight: bold;
  padding: .5em 2em;
}

li {
  list-style: none;
}

#login {
  display: flex;
  flex-grow: 1;

}