@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  font-family: "Poppins", sans-serif;
  
}

#header {
  display: flex;
  flex-direction: row;
  background-color: #ee5c34;
  font-size: 350%;
  font-weight: bolder;
  color: white;
  text-align: center;
  padding: .5em .5em;
  border: 2px solid rgba(255, 255, 255, 0.1);
}

#header .btnMenu {
  flex-grow: 0;
  transform: translateY(50%);
  margin-left: 4px;
  cursor: pointer;
}


#header .headerT {
  flex-grow: 1;
}

#header .loginHeader {
  flex-grow: 0;
  font-size: 18px;
  transform: translateY(150%);
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  padding: 0px 10px;
  height: 40px;
  cursor: pointer;
}

#header .loginHeader:hover {
  background-color:#f6e1d7;
  color: #763010;
}

.loginHeader a {
  text-decoration: none;
  color:#763010;
  margin-left: 10px;
}

.loginHeader svg {
  color:#763010;
}

#body {
  display: flex;
  height: 90vh;
  background-size: cover;
  background-position: center;
  background:url('./Components/background\ orange.avif') no-repeat;
  /*background: rgb(245,153,127);
  background: rgb(254,213,201);
  background: linear-gradient(0deg, rgba(254,213,201,1) 33%, rgba(255,225,216,1) 66%, rgba(251,234,227,1) 100%);*/

}

#content {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  font-weight: bold;
  padding: .5em 2em;
  
}

/*#loginBg {
  height: 90vh;
 
}*/

#login {
  margin: 2em auto;
  max-width: 420px;
  min-width: 500px;
  padding-bottom: 10px;
  text-align: center;
  align-items: stretch;
  background: transparent;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.9);
  transform: translateY(25%);
}

#login h1 {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
  color: aliceblue;
}

#login #inputBox {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  margin-bottom: 40px;
}

#inputBox label {
  color: #763010;
  background-color: white;
  font-size: small;
  border: 2px solid white;
  border-radius: 40px 40px 0px 0px;
  border-bottom: none;
  margin-left: 2.11em;
  margin-right: 350px;
  font-weight: 600;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#inputBox #user {
  padding-right: 30px;
}

#inputBox input {
  width: 85%;
  height: 100%;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 0px 40px 40px 40px;
  font-size: 16px;
  color: white;
  padding-left: 21px;
  margin-left: 4px;
}

#inputBox input::placeholder {
  color: white;
  font-weight: 150;
  margin-left: 0px;
}

#inputBox input:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

#inputBox input:focus {
  background-color: rgba(255, 255, 255, 0.3);
}

#inputBox .icon {
  display: flex;
  position: absolute;
  right: 50px;
  top: 40%;
  transform: translateY(100%);
  font-size: 20px;
  color: white;
}

#inputBox .iconPwd:hover {
  cursor: pointer; 
}

#login #remember-forgot {
  display: flex;
  justify-content: space-around;
  font-size: 14.5px;
  font-weight: 400;
  margin: 15px 0;
  color: white;
}

#remember-forgot label input {
  accent-color: white;
  margin-right: 4px;
  margin-left: 8px;
}

#login #btnlogin {
  width: 75%;
  margin-bottom: 12px;
  height: 45px;
  background: rgba(255, 255, 255, 0.8s);
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #763010;
  font-weight: 700;
}

#login #btnlogin:hover {
  cursor: pointer;
  background-color:#f6e1d7;
  color: #763010;
  
}

.mainMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  font-weight: 500;
  background: #242323;
  border: 2px solid rgba(255, 255, 255, 0.1);
  transform: all .2s;
}


 ul {
  padding: 0;
  text-align: center;
 }

 ul li {
  list-style-type: none;
  margin-bottom: 1em;
  margin-left: 0;
  
 }

 ul li a {
  text-decoration: none;
  color: white;
  display: block;
  border-radius: 6px;
  padding: 0.5em 1.5em;
 }

 ul li a:hover, ul li a.active {
  background: #383838e3;
 }

 .hero {
  background-color: aliceblue;
  flex-grow: 1;
  display: flex;

 }
